*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
}


.banner{
    position: relative;
    width: 90%;
}

.banner img{
    width: 100vw;
    height: fit-content;
}

.heading{
    color: brown;
    position: absolute;
    top: 20%;
    left: 60%;
    text-align: center;
    font-size: 3rem;
    font-family: sans-serif;
    text-shadow: 5px 5px 10px lightgoldenrodyellow;
}

.para{
    color: aliceblue;
    position: absolute;
    top: 30%;
    left: 57%;
    width: 610px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

.banner ul{
    color: aliceblue;
    position: absolute;
    width: 100vw;
    float: right;
    
}

.banner ul li{
    width: 300px;
    float: left;
    margin: 10px auto;
    text-align: center;
    transition: 1s;

}


.banner ul li a{
    text-decoration: none;
    color: darkred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.banner ul li:hover{
    background-color: lightcoral;
    transform: scale(1.2);
    border-radius: 5px;
}
